@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #3c393d;
    --exDark: pink;
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--Quicksand);
}
body{
    line-height: 1.4;
    color: var(--dark);
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

.btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    background-color: pink;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .btn:hover {
    background-color: gray;
  }
  

/* header */
header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./assets/banner2.png) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.N{
    margin-left: -850px;
    height: 50px;
    width: 50px;
}

.navbar{
  overflow: hidden;
  background-color: pink;
  position: fixed; 
  top: 0; 
  width: 100%; 
  height: 15%;
}
.navbar-brand{
    margin-top: 20px;
    color: black;
    font-size: 2rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: "Dancing Script", cursive;
    letter-spacing: 1px;
}
.navbar-nav{
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
}
.navbar-nav a{
    margin-top: 20px;
    text-transform: uppercase;
    font-family: var(--Roboto);
    letter-spacing: 1px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
}
.navbar-nav a:hover{
    color: white;
    opacity: 0.7;
}

.active, .navbar-nav:hover {
  color: white;
}

.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.banner-title{
    font-size: 8rem;
    font-family: "Dancing Script", cursive;
    line-height: 1.2;
}
.banner-title span{
    font-family: "Dancing Script", cursive;
    color: var(--exDark);
}
.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}
.banner a{
    color: black;
    text-transform: capitalize;
    font-family: var(--Roboto);
}

/* design */
.design{
    padding: 1rem 0;
}
.title{
    margin-top: 0;
    text-align: center;
    padding: 1rem 0;
}
.title h2{
    font-family: "Dancing Script", cursive;
    font-size: 4rem;
}
.title p{
    text-transform: uppercase;
    padding: 0.6rem 0;
}
.design-content{
    margin: 2rem 0;
}
.design-item{
    cursor: pointer;
    margin: 1.5rem 0;
    overflow: hidden;
}
.design-img{
    position: relative;
    overflow: hidden;
}
.design-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.design-img img{
    transition:  all 0.5s ease;
}
.design-item:hover img{
    transform: scale(1.1);
}
.design-img span:first-of-type{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: var(--exDark);
    color: #fff;
    padding: 0.25rem 1rem;
}
.design-img span:last-of-type{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}
.design-title{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.design-title a{
    color: var(--dark);
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--Playfair);
}

/* about */
.about{
  margin: 1rem 0;
}
.title2{
    text-align: center ;
    padding: 1rem 0;
}
.title2 h2{
    font-family: var(--Playfair);
    font-size: 2.4rem;
}
.title2 p{
    text-transform: uppercase;
    padding: 0.6rem 0;
}

.about-text{
    margin: 2rem 0;
}
.about-text p{
    font-size: 1.1rem;
    padding: 0.6rem 0;
    opacity: 0.8;
}

/* Footer */

.footer .logo1 {
    margin-left: 10rem;
    width: 100px;
    height: 100px;
    overflow: hidden;
    align-items:center;
  } 
  
  
  .footer {
    background-color: pink;
    color: var(--text-light);
    text-align: center;
    padding: 0;
  }
  
  .footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }
  
  .footer__socials {
    display: grid;
    justify-content: center;
  }
  
  .footer__socials img {
    width: 25px;
    opacity: 0.8;
    transition: opacity 0.3s;
  }
  
  .footer__socials img:hover {
    opacity: 1;
  }
  
  .footer__bar {
    font-size: 0.9rem;
    text-align: center;
  }
  
  
  @media (width > 576px) {
  
    .footer__container {
      grid-template-columns: repeat(2, 1fr);
    }
  } 
  
   @media (width > 768px) {

  
    .nav__bar {
      padding: 0;
      background-color: transparent;
  
    }
    .nav__menu__btn {
      display: none;
    }
    .nav__links {
      padding: 0;
      width: unset;
      position: static;
      transform: none;
      flex-direction: row;
      background-color: transparent;
    }
  
    .nav__btn {
      display: block;
    }
  
    .nav__links a::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      height: 2px;
      width: 0;
      background-color: var(--primary-color);
      transition: 0.3s;
      transform-origin: left;
    }
  
    .nav__links a:hover::after {
      width: 100%;
    }
  
    .about__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  
    .blog__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .footer__container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media (width > 1024px) {
    .blog__grid {
      gap: 2rem;
    }
  }
  
  .section__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer__socials{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
  }
  
  .social-group{
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .social-group a{
    color: var(--text-dark);
    font-weight: 500;
  }
  
  .social-group i{
    width: 40px;
    height: 40px;
    background-color: rgba(237, 231, 231, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: var(--primary-color);
  }
  
  .footer__bar{
    color: rgba(0, 0, 0, 0.8);
  }
  
  .contacts{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .contact-group{
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .contact-group span, .contact-group a{
    color: var(--text-dark);
    font-weight: 500;
  }
  
  .contact-group i{
    width: 40px;
    height: 40px;
    background-color: rgba(237, 231, 231, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: var(--primary-color);
  
  }
  
  .logo-2{
    width: 10%;
  }
  @media screen and (max-width: 767px){
    .section__container{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .logo-2{
      width: 100px;
    }
  }
  
  
  /* about */
  .about{
    padding: 4.5rem 0;
  }
  .about-text{
    margin: 2rem 0;
  }
  .about-text > p{
    font-size: 1.1rem;
    padding: 0.6rem 0;
    opacity: 0.8;
  }
  
  
  
  /* Media Queries */
  @media screen and (min-width: 540px){
    .navbar-nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .banner-title{
        font-size: 5rem;
    }
    .banner form{
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
  }
  
  @media screen and (min-width: 768px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search-input{
        padding: 0.8rem 0;
    }
    .design-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .design-item{
        margin: 0;
    }
    .blog-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
  }
  
  @media screen and (min-width: 992px){
    .blog-content{
        grid-template-columns: repeat(3, 1fr);
    }
    .about-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: center;
    }
  }
  
  @media screen and (min-width: 1200px){
    .design-content{
        grid-template-columns: repeat(3, 1fr);
    }
  }.title{
    text-align: center;
    padding: 1rem 0;
  }
  
  